<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="~/css/megadesk.css" >

</head>
<body>
    <div id="container">
        <header>
            <h1>MegaDesk Web Application</h1>
        </header>
        <div id="main">
            @RenderBody()
        </div>
        <footer>
            &copy; @DateTime.Now.Year MegaDesk 9 Jones|Crossley
        </footer>
    </div>
    <script src="~/js/megadesk.js"></script>
</body>
</html>