@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Display MegaDesk Quotes";
}

<h1>Display Quote</h1>
<p>
    <a href="~/searchquotes.cshtml"><input type="button" name="searchquotes" value="Search Quotes" /></a>
    <a href="~/index.cshtml">Return to Main Menu</a>
</p>