@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "MegaDesk";
 }

<h1>MegaDesk Menu</h1>
<p>
    <a href="~/addquote.cshtml"><input type="button" name="addquote" value="Add Quote" /></a>
    <a href="~/viewquotes.cshtml"><input type="button" name="viewquotes" value="View Quotes" /></a>
    <a href="~/searchquotes.cshtml"><input type="button" name="searchquotes" value="Search Quotes" /></a>
</p>